<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" href="/burble/favicon.ico" type="image/x-icon">

<!--<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/burble/blurbs.xml">-->

<link rel="stylesheet" type="text/css" href="/burble/css/style.css">
<link rel="stylesheet" type="text/css" href="/burble/css/burble.css">

<title>burble</title>

</head>

<body>
<header>
	<h1>burble</h1>
</header>

<section>
	<aside>
		<img src="/burble/css/assets/avatar.png" alt="{{page.author}}">
		
		<h1>{{page.author}}</h1>
		<p>{{site.tagline}}</p>
		
		<nav>
			<ul>
				<li class="spacer"><a href="https://github.com/MalphasWats/burble/">fork me</a></li>
			</ul>
		</nav>
	</aside>
	
	<section id="blurbs">
	    {{ content }}
	</section>
</section>
</script>

<script src="/burble/js/burble.js" charset="utf-8"></script>
</body>
</html>